html
  body
    script(src=‘https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js’)
    script.
      function addDarkmodeWidget() {
      new Darkmode().showWidget();
      }
      window.addEventListener(‘load’, addDarkmodeWidget);
h1
  header(style="text-align: center;") Narritive
form(class="row g-3 needs-validation", novalidate)
div(class="col-3", style="margin-left: 400px;")
  button(class="btn btn-primary", type="submit") Back
div(class="col-3", style="margin-left: 950px;")
  button(class="btn btn-primary", type="submit") Submit
div(class="mb-1")
  label(for="exampleFormControlTextarea1", class="form-label")
  textarea#exampleFormControlTextarea1(class="form-control", rows="6")
div(class="col-sm-3 mx-auto")
  label(for="validationCustom02", class="form-label") Officer
  input#validationCustom02(type="text", class="form-control", required)
div(class="col-sm-3 mx-auto")
  label(for="validationCustom05", class="form-label") Serial#
  input#validationCustom05(type="text", class="form-control", required)
div(class="col-sm-3 mx-auto")
  label(for="validationCustom05", class="form-label") Date
  input#validationCustom05(type="text", class="form-control", required)
div(class="col-sm-3 mx-auto")
  label(for="validationCustom01", class="form-label") Time
  input#validationCustom01(type="text", class="form-control", required)
div(class="col-sm-3 mx-auto")
  label(for="validationCustom02", class="form-label") Supp
  input#validationCustom02(type="text", class="form-control", required)
div(class="col-sm-3 mx-auto")
  label(for="validationCustom01", class="form-label") Serial#
  input#validationCustom01(type="text", class="form-control", required)
div(class="col-sm-3 mx-auto")
  label(for="validationCustom02", class="form-label") Date
  input#validationCustom02(type="text", class="form-control", required)
