block content
	h1 West Mec
	p Welcome to  #[em RMS]
	if error
		p Error getting dynamic content.
	else
		p This RMS has the following record counts:

		ul(class='counter-color')
			li #[strong Incidents] !{data}
			li #[strong People] !{data}
			li #[strong Vehicles] !{data}