extends layout

block content
    h1
      header(style="text-align: center;") West-Mec People Form
    form(class="row g-3")
      div(class="col-md-1")
        label(for="validationServer01" class="form-label")
        input#validationServer01(type="text" class="form-control" value="001", required)
      div(class="col-12")
        button(class="btn btn-primary" type="submit" style="margin-left: 950px;") Submit form
      div(class="text-left")
        img(src="download.jpeg" class="rounded float-left" alt="...")
      div(class="col-md-4")
        label(for="validationServer01" class="form-label")
        input#validationServer01(type="text" class="form-control" value="Mark", required)
      div(class="col-md-4")
        label(for="validationServer02" class="form-label")
        input#validationServer02(type="text" class="form-control" value="Otto", required)
      div(class="col-md-4")
        label(for="validationServerUsername" class="form-label")
        div(class="input-group has-validation")
          label(for="validationServer02" class="form-label")
          input#validationServerUsername(type="text" class="form-control is-invalid" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback", required)
      div(class="col-md-7")
        label(for="validationServer03" class="form-label")
        input#validationServer03(type="text" class="form-control is-invalid" aria-describedby="validationServer03Feedback", required)
      div(class="col-md-5")
        label(for="validationServer05" class="form-label")
        input#validationServer05(type="text" class="form-control is-invalid" aria-describedby="validationServer05Feedback", required)
      div(class="col-md-3")
        label(for="validationServer04" class="form-label")
        select#validationServer04(class="form-select is-invalid" aria-describedby="validationServer04Feedback", required)
          option(selected, disabled, value="") Choose...
          option ...
      div(class="col-md-4")
        label(for="validationServer05" class="form-label")
        input#validationServer05(type="text" class="form-control is-invalid" aria-describedby="validationServer05Feedback", required)
      div(class="col-md-2")
        label(for="validationServer05" class="form-label")
        input#validationServer05(type="text" class="form-control is-invalid" aria-describedby="validationServer05Feedback", required)
      div(class="col-md-3")
        label(for="validationServer05" class="form-label")
        input#validationServer05(type="text" class="form-control is-invalid" aria-describedby="validationServer05Feedback", required)
      div(class="col-md-3")
        label(for="validationServer05" class="form-label")
        input#validationServer05(type="text" class="form-control is-invalid" aria-describedby="validationServer05Feedback", required)
      div(class="col-md-3")
        label(for="validationServer05" class="form-label")
        input#validationServer05(type="text" class="form-control is-invalid" aria-describedby="validationServer05Feedback", required)
      div(class="col-md-3")
        label(for="validationServer05" class="form-label")
        input#validationServer05(type="text" class="form-control is-invalid" aria-describedby="validationServer05Feedback", required)
      div(class="col-md-3")
        label(for="validationServer05" class="form-label")
        input#validationServer05(type="text" class="form-control is-invalid" aria-describedby="validationServer05Feedback", required)
      div(class="col-md-3")
        label(for="validationServer05" class="form-label")
        input#validationServer05(type="text" class="form-control is-invalid" aria-describedby="validationServer05Feedback", required)
      div(class="col-md-3")
        label(for="validationServer05" class="form-label")
        input#validationServer05(type="text" class="form-control is-invalid" aria-describedby="validationServer05Feedback", required)
      div(class="col-md-3")
        label(for="validationServer05" class="form-label")
        input#validationServer05(type="text" class="form-control is-invalid" aria-describedby="validationServer05Feedback", required)
      div(class="col-md-3")
        label(for="validationServer05" class="form-label")
        input#validationServer05(type="text" class="form-control is-invalid" aria-describedby="validationServer05Feedback", required)
      div(class="col-md-4")
        label(for="exampleFormControlTextarea1" class="form-label")
        textarea#exampleFormControlTextarea1(class="form-control" rows="1" style="background-color:brown; color: white;")
      div(class="col-md-5")
        label(for="validationServer05" class="form-label")
        input#validationServer05(type="text" class="form-control is-invalid" aria-describedby="validationServer05Feedback", required)
      div(class="col-md-3")
        label(for="validationServer05" class="form-label")
        input#validationServer05(type="text" class="form-control is-invalid" aria-describedby="validationServer05Feedback", required)